@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(110deg, #0f1829, #050812);
}

.big-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    animation: fade 3s ease-in-out forwards;
    opacity: 0;
}

@keyframes fade {
    to {
        opacity: 1;
    }
}

.container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

::-webkit-scrollbar{
    display: none;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    text-shadow: 0 0 5px white;
}

section h2 {
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 10px;
}

.videos {
    width: 100%;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    
}

.videos h2  {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.videos p{
    max-width: 600px;
    margin: 15px auto;
}


@media (max-width: 1000px){
    header, .logo,
    header nav {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 850px){
    nav ul {
        min-width: 300px;
        margin: 0;
    }
    nav ul a{
        padding: 5px 10px;
    }
}