@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@keyframes slide-in {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px);
  }
}

.slide-in {
  animation: slide-in 1000ms ease;
  display: inherit;
}

.slide-out {
  animation: slide-out 1000ms ease;
}

.desktop-video {
  display: none;
}

.display-none {
  display: none;
}

i {
  font-size: 50px;
  color: #fff;
}

ul {
  display: flex;
  list-style: none;
}

li {
  cursor: pointer;
  margin-left: 40px;
  text-transform: uppercase;
  transition: 500ms ease all;
}

li:hover {
  color: rgba(255, 0, 0, 0.9);
}

nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  color: #fff;
}

nav .nav-wrap h1 {
  color: crimson;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 60px;
  /* text-shadow: 0 0 5px white; */
}

a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 1.25px white;
}

a:hover{
  color: orangered;
}

.active {
  background: crimson;
  border-radius: 20px;
}

.nav-wrap {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px; */
  display: flex;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.desktop-menu {
  display: none;
}

.mobile-nav {
  display: flex;
}

.mobile-menu {
  background-color: rgba(0,0,0,0.9 );
  z-index: 2;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  transition: 1000ms ease all;
}

.mobile-menu li {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-left: 0;
  padding: 20px 40px;
}

.mobile-menu-btn {
  z-index: 3;
  position: fixed;
  top: 32px;
  right: 20px;
  font-size: 32px;
  transition: 1000ms ease all;
}

.active-menu-btn {
  transform: rotate(180deg);
}

@media (min-width: 750px) {
  .mobile-menu-btn {
    visibility: hidden;
  }

  .desktop-menu {
    display: flex;
  }
}
